@import "tailwindcss";

@theme {
  --color-*: initial;
  --radius-*: initial;
}

@variant dark (&:where(.dark, .dark *));

:root {
  --background: #f5f5f5;
  --foreground: #1f2937;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.dark {
  --background: #1a1a1a;
  --foreground: #e5e5e5;
}

@media (prefers-color-scheme: dark) {
  :root:not(.light) {
    --background: #1a1a1a;
    --foreground: #e5e5e5;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
